<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoquan.mapper.ArticleTagsMapper" >
  <resultMap id="BaseResultMap" type="com.nuoquan.pojo.ArticleTags" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="tag_content" property="tagContent" jdbcType="VARCHAR" />
  </resultMap>
</mapper>