<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoquan.mapper.VoteMapper" >
  <resultMap id="BaseResultMap" type="com.nuoquan.pojo.Vote">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="vote_title" property="voteTitle" jdbcType="VARCHAR" />
    <result column="vote_type" property="voteType" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="sum_vote" property="sumVote" jdbcType="INTEGER" />
    <result column="sum_user" property="sumUser" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="expiry_date" property="expiryDate" jdbcType="TIMESTAMP" />
    <result column="duration_time" property="durationTime" jdbcType="INTEGER" />
    <result column="view_num" property="viewNum" jdbcType="INTEGER" />
    <result column="vote_content" property="voteContent" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>