<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuoquan.mapper.VoteOptionMapper" >
  <resultMap id="BaseResultMap" type="com.nuoquan.pojo.VoteOption" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="vote_id" property="voteId" jdbcType="VARCHAR" />
    <result column="option_index" property="optionIndex" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="percent" property="percent" jdbcType="DOUBLE" />
    <result column="option_content" property="optionContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <select id="getOptions" resultMap="BaseResultMap" parameterType="String">
  	select * from nuoquan.vote_option
  	where
  		1 = 1
  		and vote_id = #{voteId}
  </select>
  
</mapper>