/* 一条卡片的CSS开始， HTML见末尾
 */

.comment-info {
	height: 24px;
	width: 100%;
	position: relative;
	margin-top: 8px;
	display: flex;
}

.comment-info image {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	vertical-align: middle;
}

.name_text {
	font-size: 12px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 24px;
	height: 24px;
	color: #9B9B9B;
	display: inline-block;
	/* position: absolute;
		top: 0;
		left: 32px; */
	max-width: 96px;
	margin-left: 8px;
}

.time_text {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	font-size: 12px;
	color: #9B9B9B;
	line-height: 24px;
	width: 102px;
}

.comment-content {
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 18px;
	color: rgba(53, 53, 53, 1);
}

.comment-menu {
	margin-top: 8px;
	height: 20px;
	position: relative;
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.son-comment-num {
	width: 14px;
	height: 14px;
	font-size: 12px;

	line-height: 14px;
	color: rgba(136, 136, 136, 1);

	display: inline-block;
	position: absolute;
	right: 60px;
	top: 0;
	padding: 4px 8px 2px 30px;
	text-align: center;
	border-radius: 50px;
}

.like-num {
	width: 14px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	color: rgba(136, 136, 136, 1);
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px 8px 2px 30px;
	border-radius: 50px;
	text-align: center;
}

.son-comment-num::after {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 9px;
	top: 4px;
	content: "";
	background: url('~@/static/icon/comment-alt-888888.png');
	background-size: 14px 14px;
	background-repeat: no-repeat;
}

.like-num::after {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 9px;
	top: 4px;
	content: "";
	background: url(../../static/icon/thumbs-up-888888.png);
	background-size: 14px 14px;
	background-repeat: no-repeat;
}

.liked {
	background: linear-gradient(130deg, rgba(254, 110, 110, 0.84) 0%, rgba(245, 60, 60, 1) 100%);
}

/* 一条卡片的CSS结束
 */

/* <view class="comment">
			<view class="comment-info">
				<image :src="pathFilter(commentDetail.faceImg)" @tap="goToPersonPublic(commentDetail.fromUserId)"></image>
				<view class="name_text">{{ commentDetail.nickname }}</view>
						<view class="time_text">{{ timeDeal( mainComment.createDate)}}</view>
			</view>
			<view class="comment-content" @tap="goToCommentDetail(commentDetail)">{{ commentDetail.comment }}</view>
			<view class="comment-menu">
				<view class="son-comment-num" @tap="goToCommentDetail(commentDetail)">{{commentDetail.commentNum}}</view>
				<view class="like-num" :class="{liked:commentDetail.isLike}" @tap="swLikeCommentDetail(commentDetail)">{{ commentDetail.likeNum }}</view>
			</view>
		</view> */
