<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuoquan.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.nuoquan.pojo.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="admission_year" jdbcType="INTEGER" property="admissionYear" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>